# з кореня репо
cd C:\Users\aleksandr.novikov\InterpipeNewDev
# створити / оновити .gitignore
notepad .gitignore
# (вставляєш вміст вище, зберігаєш)

git add .gitignore
git commit -m "chore(git): add Salesforce-friendly .gitignore"
git push